{% extends "base.html" %}
{% block title %}History 내역{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info" role="alert"><b>{{ svnurl }}</b></div>
        </div>
    </div>
    <div class="col-md-12" style="padding-bottom: 20px">
        <div class="pull-left">
            <form id="svnform" method="GET" action="{{ url_for('.svn_history') }}" class="form-inline">
                <div class="form-group">
                    <label for="frev">USER ID:</label>
                    <input type="text" class="form-control" name="svnid" placeholder="ID"
                           value="{{ svnid if svnid != None }}">
                    <input type="hidden" name="id" value="{{ sid }}">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
                <a class="btn btn-sm btn-link" onclick="javascript:document.forms[0].elements['svnid'].value='khjini3'">
                    khjini3(김현진)
                </a>
                <a class="btn btn-sm btn-link" onclick="javascript:document.forms[0].elements['svnid'].value='kim13'">
                    kim13(김대환)
                </a>
            </form>
        </div>
        <div class="pull-right">
            <a class="btn btn-sm btn-danger" href="{{ url_for('.svn_path_select') }}">
                <span class="glyphicon glyphicon-list"> SVN List</span>
            </a>
        </div>
    </div>
    {% for item in data %}
        <div class="row">
            <div class="col-md-12" style="padding-bottom: 5px;">
                <span class="label label-danger">리비전 : {{ item[2] }}</span>
                <span class="label label-primary">ID : {{ item[3] }}</span>
                <span class="label label-success">시간 : {{ item[4] }}</span>
            </div>
        </div>

        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading">{{ item[5]|nl2br }}</div>

            <div class="panel-body">
                {% for files in item[6] %}
                    {% if loop.first %}

                        <p class="text-warning">
                            {% if files.action == 'I' %}
                                <span class="label label-primary">
                            {% elif files.action == 'M' %}
                                <span class="label label-info">
                            {% elif files.action == 'D' %}
                                <span class="label label-danger">
                            {% endif %}
                            {{ files.action }}
                            </span>
                            &nbsp;
                            {% set last_slash = files.path.rindex('/') %}
                            {{ (files.path[:last_slash + 1] + '<b>' + files.path[last_slash + 1:] + '</b>') | safe }}
                        </p>
                    {% endif %}
                    <p>
                        {{ files.diff|safe }}
                    </p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}